$darkpurple: #0C0C50;
$grey: rgb(240, 240, 240);
$offwhite: #fff0ff;
$pink: #FF7090;
$offpink: #FF80A0;
$darkgrey: #5D5D5D;



$navBgColor:  $darkpurple;
$navTextColor: white;
$navTextHoverColor:  $offpink;
$btnBgColor: $pink;
$btnBgColorHover: $offpink;
$btnTextColor: white;

$filterBg: $grey;
$listingsBg: $offwhite;

$filtersTitleColor: $darkgrey;