$darkpurple: #0C0C50;
$grey: #FAFAFA;
$offwhite: #fff0ff;
$pink: #FF7090;
$offpink: #FF80A0;
$darkgrey: #ADADAD;



$navBgColor:  $darkpurple;
$navTextColor: white;
$navTextHoverColor:  $offpink;
$btnBgColor: $pink;
$btnBgColorHover: $offpink;
$btnTextColor: white;
