$darkpurple: #0C0C50;
$offwhite: #fff0ff;
$pink: #FF7090;
$darkpink: rgb(255, 0, 140);
$offpink: #FF80A0;

$grey: rgb(240, 240, 240);
$lightgrey: #dadde2;
$lightlightgrey: #F8F8F8;
$lightdarkgrey:  #828d9d;
$darkgrey:  rgb(124, 123, 123);
$darkdarkgrey: #5D5D5D;

$navBgColor:  $darkpurple;
$navTextColor: white;
$navTextHoverColor:  $offpink;
$btnBgColor: $pink;
$btnBgColorHover: $offpink;
$btnTextColor: white;

$filterBg: $grey;
$listingsBg: $offwhite;

$filtersTitleColor: $darkdarkgrey;
$searchBoxFontColor: $darkgrey;


$listingsResultsBgColor: $lightlightgrey;
$listingBgColor: white;

$viewListingBtnHoverBgndColor: $darkpink;
$listinRentFontColor: $darkdarkgrey;
$listingLocationFontColor: $lightdarkgrey;
